new.yml
app:
  description: "Master Workflow for Minutes, Bullets, and Tasks"
  mode: workflow
  name: TaskDrive-Clean-Workflow
kind: app
version: 0.1.2
workflow:
  graph:
    nodes:
      # --- 1. START NODE ---
      - id: "start"
        position: { x: 80, y: 200 }
        sourceType: start
        type: start
        title: Start
        variables:
          - label: Transcript
            name: transcript
            type: paragraph
            required: true
          - label: Processing Type
            name: processingType
            type: select
            options:
              - minutes
              - bullets
              - tasks
            required: true

      # --- 2. ROUTER NODE ---
      - id: "router"
        position: { x: 380, y: 200 }
        sourceType: if-else
        type: if-else
        title: Router
        conditions:
          - id: "cond_minutes"
            operator: equals
            variable_selector: [start, processingType]
            value: "minutes"
          - id: "cond_bullets"
            operator: equals
            variable_selector: [start, processingType]
            value: "bullets"
        default_condition_id: "default_tasks"

      # --- 3. LLM NODES (Standard OpenAI) ---
      - id: "llm_minutes"
        position: { x: 680, y: 50 }
        sourceType: llm
        type: llm
        title: Generate Minutes
        model:
          mode: chat
          name: gpt-4o-mini
          provider: azure_openai
          completion_params:
            temperature: 0.5
        prompt_template:
          - role: system
            text: "Create detailed meeting minutes including Summary, Decisions, and Action Items."
          - role: user
            text: "{{#start.transcript#}}"

      - id: "llm_bullets"
        position: { x: 680, y: 250 }
        sourceType: llm
        type: llm
        title: Generate Bullets
        model:
          mode: chat
          name: gpt-4o-mini
          provider: azure_openai
          completion_params:
            temperature: 0.3
        prompt_template:
          - role: system
            text: "Summarize the meeting into concise bullet points."
          - role: user
            text: "{{#start.transcript#}}"

      - id: "llm_tasks"
        position: { x: 680, y: 450 }
        sourceType: llm
        type: llm
        title: Generate Tasks
        model:
          mode: chat
          name: gpt-4o-mini
          provider: azure_openai
          completion_params:
            temperature: 0.3
        prompt_template:
          - role: system
            text: "Extract a list of actionable tasks (Who, What, When) from the transcript."
          - role: user
            text: "{{#start.transcript#}}"

      # --- 4. END NODE ---
      - id: "end"
        position: { x: 980, y: 200 }
        sourceType: end
        type: end
        title: End
        outputs:
          - name: text
            value_selector: [sys, last_node_output]

    edges:
      - source: start
        target: router
      - source: router
        target: llm_minutes
        sourceHandle: "cond_minutes"
      - source: router
        target: llm_bullets
        sourceHandle: "cond_bullets"
      - source: router
        target: llm_tasks
        sourceHandle: "default_tasks"
      - source: llm_minutes
        target: end
      - source: llm_bullets
        target: end
      - source: llm_tasks
        target: end
